services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "4000:80"
    depends_on:
      - mongo

  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "9000:8080"   # Access Jenkins at http://localhost:9000
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: unless-stopped

volumes:
  mongo_data:
  jenkins_home:
